/build/
/build-local/
/build-recorder/
/recorder-build.log
/remoe-recorder-error.log
/.vs/
*.user
*.suo
/third_party/NVENC_Video_Codec_SDK_13.1.15/
/signaling-server/node_modules/
/web-client/node_modules/
/web-client/dist/
/signaling-server/data/
